<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Mosaic Application</title>
</head>
<body>
    <input type="file" id="imageInput" accept="image/*"><br>
    <div style="position: relative;">
        <canvas id="imageCanvas"></canvas>
        <canvas id="overlayCanvas" style="position: absolute; top: 0; left: 0;"></canvas>
    </div>
    <canvas id="maskCanvas" style="display:none;"></canvas>
    <button id="applyMosaic">Apply Mosaic</button>
    <button id="downloadImage">Download Image</button>
    <script src="/static/app.js"></script>
</body>
</html>
